@font-face {
    font-family: 'Roslindale';
    src: url('/font/Roslindale-DisplayMedium-Testing.ttf') format('truetype');
    
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roslindale', sans-serif;
   
}


.nav-container {

    max-width: 1440px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    gap: 520px;
    justify-content: space-between;
    align-items: center;

}

.quickxs{
    display: flex;
    gap: 24px;
    justify-content: end;
    align-items: center;
}

.banner{
    max-width: 1440px;
    padding: 70px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url('assets/banner-bg.png');
    background-size: cover;
    background-position: center;
   
}
.banner-text{
    text-align: center;
}
.banner h1{
    font-size: 64px;
    font-weight: 500;
    color: #303635;
    margin-bottom: 40px;
    line-height: 130%;
    
}
.banner p{
     font-family: 'Inter', sans-serif;
     color: #5F6060;
}
marquee{
    font-size: 24px;
    font-weight: 600;
    color: #6D7373;
    letter-spacing: 15px;
     margin-top: 40px;
}

.img-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 ;
    margin-top: 40px;
    

    
   
}
.img-grid .badge{
    position: relative;
    top:15%;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
}

.slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: #303635;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #6D7373;
    margin-bottom: 115px;
}


.horizontal-scroll{
    max-width: 1440px;
    padding: 70px;
    display: flex;
    gap: 3%;
    overflow-x: scroll;
    scroll-behavior:auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin-bottom: 140px;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}



 .popular{
     padding: 70px;
     max-width: 1440px;
 }

.popular h2{
    font-size: 48px;
    font-weight: 500;
    color: #303635;
    margin-bottom: 40px;
    text-align: center;
}

.popular .collection-tag{
    max-width: 430px;
     display: flex;
     color: #414141;
     text-align: center;
     justify-content: center;
     margin-bottom: 80px;
     gap: 40px;
}
.collection-tag p:hover{
    color: #00494A;
    cursor: pointer;

}
.collection-tag p:active, .collection-tag p:focus{
    text-decoration: underline;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin-bottom: 140px;

    
}

.product-card img{
    width: 100%;
    margin-bottom: 20px;
}

.product-card .price{
    color: #888888;
    margin-top: 14px;
}
.see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00494A;
    margin-bottom: 140px;
}
.see-all a{
   
    text-decoration: underline;
    color: #00494A;
    display: flex;
    gap: 10px;
}

.see-all a:hover{
    cursor: pointer;
    color: #002222;
}


.design{
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #02494B;
    margin: 0 auto;
    padding: 70px;
    background-image: url(assets/bg-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:bottom;
    padding-bottom: 150px;
    
}

.design .title{
    font-size: 56px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: start;

}

.design .subtitle, .design a{
    color:#FFFFFF;
    padding-bottom: 25px;
   
}
.design .subtitle{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 25px;
}



.design p, .design a{
    font-family: 'Inter', sans-serif;

}




 .badge-2{
    position: relative;
    top:45%;
    left: 70%;
    transform: translateX(-50%);
    width: 190px;
}

.number-box{
    display: flex;
    gap: 40px;
    padding: 50px;
    margin-top: 80px;
    background-color: #FFFFFF;
    background-image: url(assets/bg-img.png);
    background-size: contain;
    background-repeat:repeat-y;
    background-position: bottom;
}
.number{
    text-align: center;
    color: #00494A;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 24px;
}
.number h3{
    font-size: 40px;
    font-weight: 500;
}


.why{
    padding: 120px 70px;
    background-color: #FAFAFA;
    max-width: 1440px;
   
}

.why h1{
    font-size: 48px;
    font-weight: 500;
    color: #303635;
    margin-bottom: 80px;
    text-align: center;
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 140px;
}

.services .service-box{
    text-align: center;

}

.service-box h3{
    padding: 40px;
    color: #303635;
    font-size: 24px;
    font-weight: 500;
}
.service-box p{
    font-family: 'Inter', sans-serif;
    color:#495050;
    line-height: 150%;
}


.instant{
    padding: 120px 70px;
    max-width: 1440px;
}
.instant .instant-container{
    background-color: #00494A;
    padding: 90px 280px;
    text-align: center;
    background-image: url(assets/bg-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:bottom;
    

}

.instant-container h2{
    font-size: 48px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.instant-container p{
    font-family: 'Inter', sans-serif;
    color: #D1E2E2;
    margin-bottom: 50px;
    line-height: 150%;
}

.instant-container .btn-container{
    
    width:100%;
    max-width: 440px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.btn-container .btn-quote{
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    color: #00494A;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container .btn-quote img{
  padding-right: 10px;
}
.btn-container .btn-contact{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 400;
}

footer{
    padding: 70px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FAFAFA;
}