@font-face {
    font-family: 'Roslindale';
    src: url('/font/Roslindale-DisplayMedium-Testing.ttf') format('truetype');
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roslindale', sans-serif;
   
}


.nav-container {

    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 520px;
    justify-content: space-between;
    align-items: center;

}

.quickxs{
    display: flex;
    gap: 24px;
    justify-content: end;
    align-items: center;
}

.banner{
   
    margin: 0 auto;
    margin-top: 40px;
    background-image: url('assets/banner-bg.png');
    background-size: cover;
    background-position: center;
   
}
.banner-text{
    text-align: center;
}
.banner h1{
    font-size: 64px;
    font-weight: 500;
    color: #303635;
    margin-bottom: 40px;
    line-height: 130%;
    
}
.banner p{
     font-family: 'Inter', sans-serif;
     color: #5F6060;
}
marquee{
    font-size: 24px;
    font-weight: 600;
    color: #6D7373;
    letter-spacing: 15px;
     margin-top: 40px;
}

.img-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 ;
    margin-top: 40px;
    

    
   
}
.img-grid .badge{
    position: relative;
    top:15%;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
}

.slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: #303635;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #6D7373;
    margin-bottom: 115px;
}

.product-scroll{
    margin: 0 auto;
    padding: 70px;
    max-width: 1440px;
}
.horizontal-scroll{
    display: flex;
    gap: 3%;
    overflow-x: scroll;
    scroll-behavior:auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin-bottom: 140px;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}



.popular{
    margin: 0 auto;
    max-width: 1440px;
    
}

.popular h2{
    font-size: 48px;
    font-weight: 500;
    color: #303635;
    margin-bottom: 40px;
    text-align: center;
}

.popular .collection-tag{
     display: flex;
     color: #414141;
     text-align: center;
     justify-content: center;
     margin-bottom: 80px;
     gap: 44px;
}
.collection-tag p:hover{
    color: #00494A;
    cursor: pointer;

}
.collection-tag p:active, .collection-tag p:focus{
    text-decoration: underline;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin-bottom: 140px;
    
}

.product-card img{
    width: 100%;
    margin-bottom: 20px;
}

.product-card .price{
    color: #888888;
    margin-top: 14px;
}
.see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00494A;
    margin-bottom: 140px;
}
.see-all a{
   
    text-decoration: underline;
    color: #00494A;
    display: flex;
    gap: 10px;
}

.see-all a:hover{
    cursor: pointer;
    color: #002222;
}

