*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roslindale', sans-serif;
}

.nav-container {

    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 520px;
    justify-content: space-between;
    align-items: center;
}

.quickxs{
    display: flex;
    gap: 24px;
    justify-content: end;
    align-items: center;
}

.banner{
   
    margin: 0 auto;
   
    background-image: url('assets/banner-bg.png');
    background-size: cover;
    background-position: center;
}
.banner-text{
    text-align: center;
}
.banner h1{
    font-size: 64px;
    font-weight: 500;
    color: #303635;
    margin-bottom: 40px;
    
}
.banner p{
     font-family: 'Inter', sans-serif;
     color: #5F6060;
}
marquee{
    font-size: 24px;
    font-weight: 600;
    color: #6D7373;
    letter-spacing: 15px;
}

.img-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
}
.img-grid .badge{
    position: relative;
    top:15%;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
}

.slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: #303635;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #6D7373;
    margin-bottom: 115px;
}

.product-scroll{
    margin: 0 auto;
    padding: 70px;
    max-width: 1440px;
}
.horizontal-scroll{
    display: flex;
    gap: 3%;
    overflow-x: scroll;
    scroll-behavior:auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin-bottom: 140px;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

